<nav class="site-nav">
  <div class="nav-left">
    <a href="index.html" class="logo">PLUETO TV</a>
  </div>

  <div class="nav-center">
    <form class="nav-search" action="index.html" method="get" role="search">
      <span class="search-icon">⌕</span>
      <input
        type="search"
        name="q"
        id="global-search-input"
        placeholder="Search movies or shows"
        autocomplete="off"
      />
    </form>
  </div>

  <div class="nav-right nav-links">
    <a href="index.html" data-nav="home">Home</a>
    <a href="movies.html" data-nav="movies">Movies</a>
    <a href="tv.html" data-nav="tv">TV Shows</a>
    <a href="new.html" data-nav="new">Recently Added</a>
    <a href="my-list.html" data-nav="my-list">My List</a>
  </div>
</nav>
